.features {
    padding-top: 94px;
    padding-bottom: 0;

}

.features__list {
    display: flex;
    flex-wrap: wrap;

}

.features__list .features__item {
    width: 270px;

}

.features__list li:not(:nth-child(4n)) {
    margin-right: 30px;
}

.features__list li:not(:nth-last-child(-n+4)) {
    margin-bottom: 30px;
}


.features__minititle {
    color: var(--title-text-color);
    font-size: var(--primary-font-size);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 10px;
}

.features__description {
    line-height: 1.71;
    margin-top: 0;
    margin-bottom: 0;
}


.thumb {
    display: flex;
    background-color: var(--color-whitegrey-f5f4);
    border-radius: 4px;
    height: 120px;
    width: 270px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;

}

.thumb__icon {
    width: 70px;
    height: 70px;
}